$brand-primary: #2ea44f;
$brand-secondary: #ffffffcf;
$color-white: #ffffff;
$color-black: #101010;
$bg-light: #f8f9fa;
$bg-dark: #343a40;
$bg-muted: #EEEEEE;
$text-dark: #212529;
$text-light: #ffffff;
$text-muted: #6c757d;
$link: #007bff;
$link-hover: #0056b3;
$btn-primary: #2ea44f;
$btn-primary-hover: #000000;

