$brand-primary: #8AC741;
$brand-secondary: #ffffffcf;
$color-white: #ffffff;
$color-black: #101010;
$bg-light: #f8f9fa;
$bg-dark: #343a40;
$bg-muted: #EEEEEE;
$text-dark: #212529;
$text-light: #ffffff;
$text-muted: #6c757d;
$btn-primary:#8AC741;
$btn-primary-hover: #000000;
$border-color:#ddd;
