@import "tailwindcss";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));


html,
body {
  max-width: 100vw;
  overflow-x: clip;
  scroll-behavior: smooth;
  @apply bg-zinc-50 dark:bg-zinc-950 text-zinc-900 dark:text-zinc-100;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
