@import '../../../assets/scss/abstracts/mixins';
@import '../../../assets/scss/abstracts/variables';
.container {
  @include flex-container(column, center, center);
}

.intro {
  @include flex-container(column, center, center);
}

.image-container {
  @include flex-container(row, center, center);
  @include circle(190px);
  margin-bottom: 20px;
  background-color: $brand-primary;
  cursor: pointer;
}

.profile-image {
  @include circle(180px);
  background-color: $brand-secondary;
  padding: 0px;
}

.profile-headline {
  text-align: center;

  p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
  }

  a {
    color: $text-dark;
    transition: color 0.3s ease;
    font-weight: 900;

    &:hover {
      color: $text-muted;
    }
  }
}

.downloadBtn {
  background-color: $btn-primary;
  color: $text-light;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $btn-primary-hover;
  }
}

.links {
  width: 100%;
  margin-top: 10px;
}
