<div class="projects-page">
 <page-title title="Projects"></page-title>
  <div class="list flex-center">
    <info-card (openModal)="onModalOpen($event)"  [PortfolioItem]="project" *ngFor="let project of projects" >
    </info-card>
  </div>
</div>
<div class="modal" *ngIf="isModalOpen">
  <div class="iframe-container">
    <div *ngIf="showLoader" class="loader"></div>
    <iframe [src]="iframeUrl" (load)="hideLoader()" frameborder="0"></iframe>
    <button class="flex-center close-action"  (click)="closeModal()">
      <i  class="fa fa-window-close "></i>
    </button>
  </div>
</div>

